.store-cart {
    h2 {
        font-size: 1rem;
        color : #0c0d36;
        font-weight: 600;
    }
    .product-tittle {
        font-size: 1.125rem;
        color : #0c0d36;
        margin-top: 15px;
    }
    .product-subtitle {
        font-size: .8750rem;
        color : #979797;
    }

    .table-cart {
        margin-left: -15px;
        margin-right: -15px;

        th {
            font-weight: 200;
        }
        .cart-image {
            width: 160px;
            max-height: 85px; 
            border-radius: 10px;
        }
        .btn-remove-cart {
            margin-top: 18px;
            @include button-variant (#FC5E84, transparent)
        }
    }
}
