.card-dashboard-product {
    margin-bottom: 15px;
    .card-body {
        .product-title {
            font-weight: 500;
            font-size: 1.125rem;
            color: #0c0d36;
        }
        .product-category {
            font-weight: 500;
            font-size: 1rem;
            color: #c5c5c5;
        }
    }
}